
/* ReleaseFolder */
div.releaseFolder {
  clear: left;
  align: center;
}

div.releaseFolder:not([class~="firstReleaseFolder"]) {
  padding-top: 4ex;
}

div.releaseFolder > h3 {
  padding: 0px;
  margin: 0px;
  }

/* package */
div.packageTile {
  height: 14ex;
  width: 32%;
  border: 1px dotted #999;
  margin-top: 1ex;
  margin-left: 1ex;
  float: left;
  padding: 1ex;
}

div.packageOS {
  padding-left: 20px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: left center;
}

div.linux {
  background-image:url(../images/os_linux.png);
}

div.win {
  background-image:url(../images/os_win.png);
}

div.macosx {
  background-image:url(../images/os_macosx.png);
}

ul.packageLinks  {
  padding-left: 3ex;
  vertical-align: middle;
}

ul.packageLinks li a {
  
}

ul.packageLinks li {
  -moz-border-radius: 6px 6px 6px 6px;
  -moz-box-shadow: 0 0 5px #666666;
  background-color: #57BB7D;
  background-image: -moz-linear-gradient(center top , #57BB7D 0%, #32724A 100%);
  border: 1px solid #354856;
  cursor: pointer;
  display: block;
  float: left;
  list-style-type: none;
  padding: 0.5ex 2ex 0.5ex;
  margin-bottom: 1ex;
}

ul.packageLinks li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

ul.packageLinks li img {
  vertical-align: middle;
  margin-right: 0.5ex;
}
